/***===== RESET STYLE =====***/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chango", cursive;
}

nav ul {
  display: flex;
  width: auto;
  height: 30px;
  background-color: #0a0044;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 0 10px;
  color: white;
}

#score {
  padding: 10px;
  display: flex;
  background-color: #0a0044;
  justify-content: center;
  color: white;
}

main {
  border: 2px solid black;
}

#gameArea {
  border: 1px solid red;
}
