/***===== RESET STYLE =====***/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chango", cursive;
}

#main-menu {
  display: flex;
  width: auto;
  height: 30px;
  background-color: #0a0044;
  justify-content: space-around;
  list-style-type: none;
  align-items: space-between;
  padding: 8px 20px;
  color: white;
}

#inner-menu {
  display: flex;
  width: auto;
  height: 30px;
  background-color: #0a0044;
  justify-content: space-around;
  list-style-type: none;
  align-items: space-between;
  padding: 8px 20px;
  color: white;
}

.hide {
  display: none !important;
}

#main-menu li:last-child {
  margin-left: auto;
}

#main-menu li:first-child {
  margin-right: 0.9em;
}

#score {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #0a0044;
  color: white;
}

main {
  border: 2px solid black;
}

#gameArea {
  border: 1px solid red;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.7em;
  }
  #title,
  #title-image,
  .menu {
    font-size: 1em;
  }
  #score {
    font-size: 0.8em;
  }
}
