/***===== RESET STYLE =====***/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chango", cursive;
}

#main-menu {
  display: flex;
  width: auto;
  height: 30px;
  background-color: #0a0044;
  list-style-type: none;
  align-items: center;
  padding: 8px 20px;
  color: white;
}

#inner-menu {
  display: flex;
  width: auto;
  height: 30px;
  background-color: #0a0044;
  justify-content: space-around;
  list-style-type: none;
  align-items: space-between;
  padding: 8px 20px;
  color: white;
}

#inner-menu li:hover {
  border-bottom: 0.5em solid white;
}

.hide {
  display: none !important;
}

#title-image,
#title {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

#title:hover {
  padding-bottom: 0.2em;
  border-bottom: 0.5em solid #ff2941;
}

#main-menu li:nth-child(3) {
  margin-left: auto;
}

#main-menu li:first-child {
  margin-right: 1.5em;
}

#score {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #0a0044;
  color: white;
}

main {
  border: 1px solid black;
  background-color: #ffffff;
}

#start,
#pause {
  margin-right: 0.4em;
  font-size: 2em;
}

#restart {
  font-size: 2em;
  margin-right: 1em;
}

#menu,
#title-image {
  font-size: 2em;
}

#message {
  font-weight: bold;
  color: #00204a;
}

@media screen and (max-width: 600px) {
  #inner-menu li {
    font-size: 0.7em;
  }

  #main-menu li:first-child {
    margin-right: 0.3em;
    font-size: 1.1em;
  }

  #start,
  #pause,
  #restart,
  #menu {
    font-size: 1.5em;
  }
}

#message {
  display: none;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
}
